<div class="exfoliation service">
	<div class="row">
		<div class="span12">
			<h1 class="courgette">Exfoliation Therapy</h1>
			<p>Enjoy a blah blah blah from our range of 4 premium exfoliation treatment catered to bring out the radiance in your skin</p>
			</div>
		</div>
	
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-left" src="/assets/exfoliation1.png"/>
			<div>
				<h2>Fresh Glow</h2>
				<span>60mins ($188)</span>
				<p>Oil-prep, A choice of Tulip Floral, Green Tea Salt or Fresh Herbal exfoliate</p>
			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-right" src="/assets/exfoliation2.png"/>
			<div>
				<h2>Elegant Brilliance,</h2>
				<span>30mins ($88)</span>
				<p>Anti-oxidant and anti-bacterial treatment for your body</p>
			</div>
			</div>
		</div>
	</div>
	
</div>