<div class="location">
	<div class="row">
		<div class="span12">
			<h1 class="courgette">Where We are Located</h1>
			<p>You can find us in our 2 nature spa nestled in the stunning deep urban jungle of Singapore</p>
		</div>
	</div>

	<div class="row">
		<div class="span12 address">
			<div class="span6">
				<span><strong>Opening Hours:</strong></span> 
				<span>Tuesday to Sunday, 9.00am to 9.00pm</span>
				<span>Closed on Monday</span>
			</div>
		</div>
	</div>

	
	<div class="row">
		<div class="span12 address">
			<div class="span4 pull-left">
				<span><strong>Advera @ Thomson Walk</strong></span> 
				<span>21 Thomson Walk, #07-59</span> 
				<span>Singapore 543201</span>
				<span>Phone: 9067 4625</span>
				<span>Email: <a href="mailto:admin@squilio.com">admin@squilio.com</a></span>
			</div>
			<img class="pull-right" src="/assets/advera1.png" />
		</div>
	</div>
	<div class="row">
		<div class="span12 address">
			<div class="span4 pull-left">
				<span><strong>Advera @ Heng Mui Keng</strong></span> 
				<span>22 Heng Mui Keng Terrace, #02-18</span> 
				<span>Singapore 673553</span>
				<span>Phone: 9786 7248</span>
				<span>Email: <a href="mailto:admin@squilio.com">admin@squilio.com</a></span>
			</div>
			<img class="pull-right" src="/assets/advera2.png" />
		</div>
	</div>
	
</div>