<div class="water service">
	<div class="row">
		<div class="span12">
			<h1 class="courgette">Water Therapy</h1>
			<p>Immerse yourself in our award winning range of 4 water therapy treatments that soothes your body and revitalizes your skin, giving it the youthful radiance that you always desired</p>
			</div>
		</div>
	
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-left" src="/assets/water1.png"/>
			<div>
				<h2>Rainforest Shower</h2>
				<span>60mins ($88)</span>
				<p>Refreshing shower accompanied by the fresh and aromatic collections of flower and herbs from the deep Amazon rainforest that will surely helps to clear your hectic mind.</p>
			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-right" src="/assets/water2.png"/>
			<div>
				<h2>Chocolate Milk</h2>
				<span>60mins ($88)</span>
				<p>Our very own anti-oxidant concoction mixture that guarantees to purifies both your body and soul, this is the treatment that you have been waiting for.</p>
			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-left" src="/assets/water3.png"/>
			<div>
				<h2>Mineral Salt</h2>
				<span>60mins ($88)</span>
				<p>Mineral salt bath collected directly from Red Sea of the Indian Ocean, a luxury like no other.</p>
			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-right" src="/assets/water4.png"/>
			<div>
				<h2>Hydro Water</h2>
				<span>60mins ($88)</span>
				<p>Invigorating hydrotherapy bath with beautiful outdoor scenery that surely brings you closer to nature and calm your mind.</p>
			</div>
			</div>
		</div>
	</div>
	
</div>