<div class="wrap service">
	<div class="row">
		<div class="span12">
			<h1 class="courgette">Wrap Therapy</h1>
			<p>Treat yourself with freshest concoction of natural ingredients used in our wrap therapy that will help to purify your body and brings out your best</p>
			</div>
		</div>
	
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-left" src="/assets/wrap1.png"/>
			<div>
				<h2>Gold Sand Wrap</h2>
				<span>30mins ($88)</span>
				<p>Invigorating thermal sand body wrap which detoxifies your whole body to give you a glowing radiance and confidence.</p>
			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-right" src="/assets/wrap2.png"/>
			<div>
				<h2>Herbal Jungle Green</h2>
				<span>45mins ($88)</span>
				<p>Purifying herbal green collected from the Amazon forest used in body wrap which purifies the skin and soothes your nerve.</p>
			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<div>
			<img class="pull-left" src="/assets/wrap3.png"/>
			<div>
				<h2>Fresh Aloe vera Treatment</h2>
				<span>45mins ($88)</span>
				<p>Refreshing aloe vera gel body wrap which calms, soothes and hydrates your deep layered skin.</p>
			</div>
			</div>
		</div>
	</div>
	
</div>