// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

@media (min-width: 1200px) {
  .span12, .container {
    width: 1170px;
  }
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
  background: #f3e5d8;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.courgette{
  font-family: 'Courgette', cursive;
  font-weight: normal;
}


/*Body*/
.wrapper{
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
	background: #ffffff;
}

/* Header */
header{
	background: #ffffff;
	border-bottom: 1px solid #c8c8c8;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 9999;
}

header nav{
	margin-right: 30px;
}

header nav ul{
	margin: 0;
	padding: 0;
}

header nav ul li{
	list-style: none;
	float: left;
}

header nav ul li a{
	height: 67px;
	line-height: 67px;
	padding: 0 15px;
	border-top: 4px solid #ffffff;
	text-decoration: none;
	color: #777777;
	display: block;
	font-weight: bold;
}

header nav ul li a:hover{
	color: #5dcfca;
	border-top: 4px solid #5dcfca;
	text-decoration: none;
}

#logo {
  float: left;
  padding-top: 11px;
  margin-left: 30px;
}



/* Footer */
footer{
	background: #ffffff;
	border-top: 1px solid #c8c8c8;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	overflow: auto;
	padding: 20px 0;
}

.footer span{
  float: left;
  margin-left: 30px;
  padding: 5px 0;
}

.footer nav{
  float: right;
  margin-right: 30px;
}

.footer ul{
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

.footer ul li{
  float: left;
}

.footer ul li a{
  text-indent: -9999px;
  display: block;
  width: 24px;
  height: 24px;
  margin: 3px 8px;
}

.footer .facebook{
  background: url('facebook.png')
}

.footer .twitter{
  background: url('twitter.png')
}

.footer .wordpress{
  background: url('wordpress.png')
}

/* landing page */
#myCarousel{
	margin-bottom: 0;
}

.landing .row .span12{
	position: relative;
}

.tagline{
	position: absolute;
	top: 100px;
	right: 64px;
	width: 400px;
}

.tagline p{
	color: #ffffff;
	font-size: 3em;
	text-align: center;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

/* Services */
.service{
	background: #ffffff;
}

.service > .row > .span12 h1, .location > .row > .span12 h1{
	margin-top: 30px;
	color: #50BCB6;
}

.service > .row > .span12 p, .location > .row > .span12 p{
	text-align: center;
	margin: 0 auto 40px auto;
	width: 70%;
	font-size: 1.25em;
	font-style: italic;
	color: #999999;
}

.service .row .span12{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.service .row .span12 > div{
	padding: 30px;
	overflow: auto;
	background: #f2f2f2;
}

.service .row .span12 div div{
	margin-left: 30px;
	display: inline-block;
	width: 70%;
	padding: 5px 0;
}

.service .span12 div h2{
	font-size: 2.5em;
	color: #EE4256;
}

.service .span12 div span{
	margin-bottom: 30px;
	font-size: 1.75em;
	color: #5a5a5a;
	display: block;
}

.service .row .span12 div div p{
	font-size: 1.25em;
	text-align: left;
	margin: 0;
	color: #333333;
	font-style: normal;
	width: 100%;
}

.address{
	margin-bottom: 50px;
	font-size: 1.25em;
}

.location .row .address div span{
	margin: 6px 0 6px 30px;
	display: block;
}

.location .row .address div span strong{
	font-size: 1.25em;
	color: #FCB64B;
}

.address div a{
	color: #50BCB6;
}

.address img{
	margin-right: 30px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}